apiVersion: v1
kind: ServiceAccount
metadata:
  name: pod-finalizer-cleaner
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: pod-finalizer-cleaner
rules:
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "list", "patch", "delete"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: pod-finalizer-cleaner
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: pod-finalizer-cleaner
subjects:
- kind: ServiceAccount
  name: pod-finalizer-cleaner
  namespace: kube-system
