- name: Set SELinux to disabled state
  selinux:
    state: disabled
  when: ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux'

- name: Enable IPv4 forwarding
  sysctl:
    name: net.ipv4.ip_forward
    value: "1"
    state: present
    reload: yes

- name: Enable IPv6 forwarding
  sysctl:
    name: net.ipv6.conf.all.forwarding
    value: "1"
    state: present
    reload: yes

- name: Download k3s binary x64
  get_url:
      url: https://github.com/rancher/k3s/releases/download/{{ k3s_version }}/k3s
      dest: /usr/local/bin/k3s
      owner: root
      group: root
      mode: 755
  when: ( ansible_facts.architecture == "x86_64" ) 

- name: Download k3s binary arm64(aarch64)
  get_url:
      url: https://github.com/rancher/k3s/releases/download/{{ k3s_version }}/k3s-arm64
      dest: /usr/local/bin/k3s
      owner: root
      group: root
      mode: 755
      timeout: 20
  when: ( ansible_facts.architecture == "aarch64" )

- name: Copy K3s service file
  register: k3s_service
  template:
    src: "k3s.service.j2"
    dest: "{{ k3s_systemd_dir }}/k3s.service"
    owner: root
    group: root
    mode: 0755

- name: Enable and check K3s service
  systemd:
    name: k3s
    daemon_reload: yes
    state: restarted
    enabled: yes

- name: Create directory .kube
  file:
    path: ~{{ ansible_user }}/.kube
    state: directory
    owner: "{{ ansible_user }}"

- name: Copy config file to user home directory
  copy:
    src: /etc/rancher/k3s/k3s.yaml
    dest: ~{{ ansible_user }}/.kube/config
    remote_src: yes
    owner: "{{ ansible_user }}"

- name: Ensure user's KUBECONFIG points to their copied kubeconfig
  lineinfile:
    path: ~{{ ansible_user }}/.bashrc
    regexp: '^export KUBECONFIG='
    line: 'export KUBECONFIG=~/.kube/config'
    create: yes
    owner: "{{ ansible_user }}"
    mode: '0644'
  become: true
  become_user: root

- name: Rewrite kubeconfig default context
  command: k3s kubectl config set-cluster default
    --server=https://{{ keepalived_virtual_ip }}:6443
    --kubeconfig ~{{ ansible_user }}/.kube/config

- name: Create kubectl symlink
  file:
    src: /usr/local/bin/k3s
    dest: /usr/local/bin/kubectl
    state: link

- name: Create crictl symlink
  file:
    src: /usr/local/bin/k3s
    dest: /usr/local/bin/crictl
    state: link

- name: Deploy Traefik DaemonSet manifest (optional)
  when: install_traefik_daemonset | default(false)
  block:
    - name: Copy Traefik manifest to remote host
      copy:
        src: files/traefik-daemonset.yaml
        dest: /tmp/traefik-daemonset.yaml
        owner: root
        group: root
        mode: '0644'

    - name: Apply Traefik manifest
      command: /usr/local/bin/k3s kubectl apply -f /tmp/traefik-daemonset.yaml
      register: traefik_apply
      retries: 3
      delay: 5
      until: traefik_apply.rc == 0
