apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ kite_release_name }}-data"
  namespace: "{{ kite_namespace }}"
  labels:
    app.kubernetes.io/name: kite
    app.kubernetes.io/instance: "{{ kite_release_name }}"

spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: longhorn