apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ postgres_release_name }}-pvc
  namespace: {{ postgres_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: {{ postgres_primary_size }}
